@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url(https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro);
    font-weight: 100,300;
    font-style: normal;
}


body {
  overflow-x: hidden !important;
  height: 100%;
  margin: 0;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  background: #f2f2f2;
}

p{
  position: relative;
  font-size: 1.4em;
  line-height: 1.6em;
  letter-spacing: .065em;
  color: #323c47;
}

img {
  display: block;
  max-width: 100%;
}

.updated{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  position: relative;
  display: block;
  top:4vw;
}

.img-responsive{
  width:100%;
  height: auto;
  transform: scale(1);
  overflow-y: hidden;
  position: absolute;
  z-index: -1;
  margin: -13% 0 -62% 0;
}

.logo-invert{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 18%;
  z-index: 2;
  padding-top:2%;
}

.tagline{
  font-size: 2.7em;
  font-weight: 300;
  letter-spacing:.04em;
  text-transform: capitalize;
  color: #dddddd;
  text-align: center;
}

.new-ia{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height:auto;
  z-index: 2;
  margin-bottom:0%;
}


.content-width{
  position: relative;
  padding:  0 14%;
}

.grid-container{
  text-align: center;
  position: relative;
  display:grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  grid-gap: 2em;
  margin: 13% 2.4% 0% 2.4%
}


.title {
  color: #13191c;
  font-weight: bolder;
  font-size: 1.8em;
  letter-spacing: -0.009em;
  text-align: center;
  margin: 3.5% auto;
}

.intro {
  font-size: 1.54em;
  letter-spacing:0.05em;
  line-height: 1.4em;
  color: #757576;

}



.global,.my-Brand,.easy-access{
transform: scale(1.5);
margin-left: auto;
margin-right: auto;

}


.new-interface{
  letter-spacing: .08em;
  color: #29363d;
  margin-top:4.6%;
  margin-bottom:-8%;
}


.background{
  box-sizing: content-box;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 500px;
  background-color: #29363d;
  float:left;
  top:10vw;
}

.button{
  display: block;
  margin: 3.6% auto;
  background-color:#77bd22;
  border: none;
  color: white;
  padding: 2% 9%;
  text-align: center;
  font-weight: bold;
  letter-spacing: .07em;
  text-transform: capitalize;
  font-size: 1.55em;
}

.footer-text{
  display: block;
  margin: 0 auto;
  color: #c4c4c4;
}

.footer-text p{
  color: #c4c4c4;

}


@media screen and (max-width: 767px){

  p{
    position: relative;
    font-size: .71em;
    line-height: 1.6em;
    letter-spacing: .065em;
    color: #323c47;
  }

  .logo-invert{
    width: 33%;
    padding-top:4%;
  }

  .tagline{
    line-height: 1em;
    font-size: 1.3em;
  }

  .img-responsive{
    transform: scale(1.07);
    overflow-y: hidden;
    position: absolute;
    z-index: -1;
    margin: 0 0;
  }

  .new-ia{
    width: 70%;
    margin-bottom:-2%;
  }

  .grid-container{
    text-align: center;
    position: relative;
    display:grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    grid-gap: 1.1em;
    margin: 10% 2.4% 0% 2.4%
  }


  .global,.my-Brand,.easy-access{
  transform: scale(.8);
  margin-left: auto;
  margin-right: auto;
  }

  .title {
    font-size: 1em;
    margin: 0% auto;
  }

  .intro {
    font-size: .8em;
    letter-spacing:0.05em;
    line-height: 1.4em;
    color: #757576;

  }

  .button{
    display: block;
    margin: 6% auto;
    background-color:#77bd22;
    border: none;
    color: white;
    padding: 3.5% 15%;
    text-align: center;
    font-weight: bold;
    letter-spacing: .07em;
    text-transform: capitalize;
    font-size: .8em;
  }

  .background{
    height: 300px;
}



}


@media screen and (min-width: 1680px){
  .updated{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    position:  relative;
    display: block;
    top:7vw;
  }
}
